/* Define styles for the container of the components */
.return-promise {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    column-gap: 2rem;
    margin-top: 1rem;
    justify-content: space-evenly; /* Align components with space between them */
    background-color: #282c34;
    padding: 1rem;
  }
  
  /* Add margin to separate the components */
  .RevelEmojiHooks,
  .HooksReturnPromise {
    margin-bottom: 1.5rem;
  }
  
  /* Style the button */
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color:  #0ef60e;;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the paragraph */
  p {
    font-size: 18px;
  }
  